.start {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/28/12/16/frame-2450415_960_720.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  align-self: initial;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

h1 {
  font-family: "Bad Script", cursive;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  text-align: center;
}

.nav {
  display: flex;
  /* background: #209915;*/
  justify-content: space-around;
}

#info {
  overflow-wrap: break-word;
}

.boton{
  float: right;
  margin-right: 70px;
}

#comentarios{
  border: 2px solid rgb(81, 68, 202);
  border-radius: 7px;
  margin-left: 50px;
}

img{
  margin-left: 370px;
  width: 400px;